# Virtual environments
.venv*

# Python
__pycache__
*.py[cod]
.coverage
htmlcov/
*.coverage

# Node
node_modules/
.pnpm-debug.log

# Build artifacts
/dist/
/.parcel-cache/

# Environment files
.env.local
.env.*.local
backend/.env.local
frontend/.env.local

# Project metadata
plan.md
docs/

# IDE
.idea/
.vscode/
.code/

# Development server logs
.devserver/

# Lighthouse/Chrome DevTools temporary files
undefined:/
lighthouse.*/
